{% load static %}
<div class="row">
    <div class="footer-col col-md-4">
        <h3><b>Über RDMO</b></h3>
        <p>
            Das Ziel des RDMO Projekts ist es, eine Webapplikation bereitzustellen, die die strukturierte Planung, Umsetzung und Verwaltung der Daten in einem wissenschaftlichen Projekt unterstützt.
        </p>
        <p>
            RDMO selbst ist eine Open-Source-Software und unter <a href="https://github.com/rdmorganiser/rdmo" target="_blank">https://github.com/rdmorganiser/rdmo</a> verfügbar.
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h3><b>Kontakt</b></h3>
        <p>
            RDMO-Support der Max Planck Digital Library: <a href="mailto:rdmo@mpdl.mpg.de">rdmo@mpdl.mpg.de</a>
        </p>
        <h4>Mailingliste zu RDMO for MPG</h4>
        <p>
            <a href="https://listsrv.mpdl.mpg.de/mailman/listinfo/rdmo-info" target="_blank">rdmo-info@listsrv.mpdl.mpg.de</a>
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h3><b>Rechtliches</b></h3>
        <p>
            <p><a href="/impressum" target="_blank">Impressum</a></p>
            <p><a href="/account/terms-of-use" target="_blank">Nutzungsbedingungen</a></p>
            <p><a href="/privacy_policy" target="_blank">Datenschutzhinweis</a></p>
            <br>
            <a href="https://www.mpdl.mpg.de" target="_blank"><img src="{% static 'core/img/header/mpdl.png' %}" style="width:196px;height:50px;"></img>
    </div>
</div>
<!-- Matomo -->
<script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://analytics.mpdl.mpg.de/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '81']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->