{% load static %}
<div class="row">
    <div class="footer-col col-md-4">
        <h3><b>About RDMO</b></h3>
        <p>
            The aim of the RDMO project is to deliver a web application to assist structured planning, implementation and administration of the data in a scientific project.
        </p>
        <p>
            RDMO is open source software and available at <a href="https://github.com/rdmorganiser/rdmo" target="_blank">https://github.com/rdmorganiser/rdmo</a>
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h3><b>Contact</b></h3>
        <p>
            RDMO-Support by the Max Planck Digital Library: <a href="mailto:rdmo@mpdl.mpg.de">rdmo@mpdl.mpg.de</a>
        </p>
        <h4>Mailing Liste on RDMO for MPG</h4>
        <p>
            <a href="https://listsrv.mpdl.mpg.de/mailman/listinfo/rdmo-info" target="_blank">rdmo-info@listsrv.mpdl.mpg.de</a>
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h3><b>Legal</b></h3>
        <p><a href="/impressum" target="_blank">Impressum</a></p>
        <p><a href="/account/terms-of-use" target="_blank">Terms of Service</a></p>
        <p><a href="/privacy_policy" target="_blank">Data Protection</p></a>
        <br>
        <a href="https://www.mpdl.mpg.de" target="_blank"><img src="{% static 'core/img/header/mpdl.png' %}" style="width:196px;height:50px;"></img>
    </div>
</div>
<!-- Matomo -->
<script type="text/plain" data-category="analytics">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://analytics.mpdl.mpg.de/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '81']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

<script defer>
        window.addEventListener('load', ()=> {
            runConsentBanner({'privacyPolicyUrl' : '/privacy_policy'});
        });

</script>