{% load static %}
<div class="row">
    <div class="footer-col col-md-4">
        <h4>Über RDMO</h4>
        <p>
            Das Ziel des RDMO Projekts ist es, eine Webapplikation bereitzustellen, die die strukturierte Planung, Umsetzung und Verwaltung der Daten in einem wissenschaftlichen Projekt unterstützt.
        </p>
        <p>
            RDMO selbst ist eine Open-Source-Software und unter <a href="https://github.com/rdmorganiser/rdmo" target="_blank">https://github.com/rdmorganiser/rdmo</a> verfügbar.
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4>Kontakt</h4>
        <p>
            RDMO-Support der Max Planck Digital Library: <a href="mailto:rdmo@mpdl.mpg.de">rdmo@mpdl.mpg.de</a>
        </p>
        <h4>Mailingliste zu RDMO for MPG</h4>
        <p>
            <a href="https://listsrv.mpdl.mpg.de/mailman/listinfo/rdmo-info" target="_blank">rdmo-info@listsrv.mpdl.mpg.de</a>
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4>Rechtliches</h4>
        <p>
            <p><a href="/impressum" target="_blank">Impressum</a></p>
            <p><a href="/account/terms-of-use" target="_blank">Nutzungsbedingungen</a></p>
            <p><a href="/privacy_policy" target="_blank">Datenschutzhinweis</a></p>
            <br>
            <a href="https://www.mpdl.mpg.de" target="_blank"><img src="{% static 'core/img/header/mpdl.png' %}" style="width:196px;height:50px;"></img>
    </div>
</div>
