{% load static %}
<div class="row">
    <div class="footer-col col-md-4">
        <h4>About RDMO</h4>
        <p>
            The aim of the RDMO project is to deliver a web application to assist structured planning, implementation and administration of the data in a scientific project.
        </p>
        <p>
            RDMO is open source software and available at <a href="https://github.com/rdmorganiser/rdmo" target="_blank">https://github.com/rdmorganiser/rdmo</a>
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4>Contact</h4>
        <p>
            RDMO-Support by the Max Planck Digital Library: <a href="mailto:rdmo@mpdl.mpg.de">rdmo@mpdl.mpg.de</a>
        </p>
        <h4>Mailing Liste on RDMO for MPG</h4>
        <p>
            <a href="https://listsrv.mpdl.mpg.de/mailman/listinfo/rdmo-info" target="_blank">rdmo-info@listsrv.mpdl.mpg.de</a>
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4>Legal</h4>
        <p><a href="impressum" target="_blank">Impressum</a></p>
        <p><a href="account/terms-of-use" target="_blank">Terms of Service</a></p>
        <p><a href="privacy_policy" target="_blank">Data Protection</p></a>
        <br>
        <a href="https://www.mpdl.mpg.de" target="_blank"><img src="{% static 'core/img/header/mpdl.png' %}" style="width:196px;height:50px;"></img>
    </div>
</div>
