{% extends 'core/base.html' %}
{% load i18n compress static core_tags %}

{% block head %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/header.scss' %}" />
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{% static 'core/js/header.js' %}" ></script>
{% endcompress %}
{% endblock %}
{% load static %}

{% block content %}

<header>
    <div class="hidden-xs">
        <div class="header-image header-image-0 visible">
            <img src="{% static 'core/img/header/ESO_1723a.jpg' %}"></img>
            <p class="attribution">
                <a href="https://www.eso.org/public/germany/images/eso1723a/" target="_blank">The Orion Nebula and cluster from the VLT Survey Telescope, Credit: ESO/G. Beccari.</a> / <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>
            </p>
        </div>
        <div class="header-image header-image-1">
            <img src="{% static 'core/img/header/MPIWG_Descartes.jpg' %}"></img>
            <p class="attribution">
                <a href="https://dlc.mpg.de/!image/868383570/307/" target="_blank">Descartes, René: Renati Des-Cartes Principia Philosophiae, Amstelodami: Elzevirium, 1644, print, folio 307.</a> Credit: Max Planck Institute for the History of Science, Berlin.
            </p>
        </div>
        <div class="header-image header-image-2">
            <img src="{% static 'core/img/header/MPG-Archiv_FHI_IV_38.jpg' %}"></img>
            <p class="attribution">
                Reading room at the Fritz Haber Institute. Credit: Archiv der Max-Planck-Gesellschaft, Berlin-Dahlem.
            </p>
        </div>
        <div class="header-image header-image-3">
            <img src="{% static 'core/img/header/MPI-IPP_Hosan_2017_L1460281.jpg' %}"></img>
            <p class="attribution">
                Torus Hall at the Max Planck Institute for Plasma Physics. Credit: IPP, Foto: Jan Hosan.
            </p>
        </div>
        <div class="header-image header-image-4">
            <img src="{% static 'core/img/header/MPG-Archiv_MPI_f_Biochemie_I_2_5.jpg' %}"></img>
            <p class="attribution">
                Laboratory at the Max Planck Institute for Biochemistry. Credit: Archiv der Max-Planck-Gesellschaft, Berlin-Dahlem.
            </p>
        </div>
        <div class="header-image header-image-5">
            <img src="{% static 'core/img/header/MPIWG_Baldi_Indice_alfabetico.jpg' %}"></img>
            <p class="attribution">
                <a href="https://dlc.mpg.de/image/868393614/7/LOG_0000/" target="_blank">Baldi, Bernardino: De Le Vite De Matematici (Seconda Trascrizione), Tomo II, folio 7.</a> Credit: Centro Internazionale di Studi Rosminiani, Stresa.
            </p>
        </div>
        <div class="header-image header-image-6">
            <img src="{% static 'core/img/header/MPG-Archiv_MPI_f_Plasmaphysik_III_18.jpg' %}"></img>
            <p class="attribution">
                Computer centre at the Max Planck Institute for Plasma Physics. Credit: Archiv der Max-Planck-Gesellschaft, Berlin-Dahlem.
            </p>
        </div>
        <div class="header-image header-image-7">
            <img src="{% static 'core/img/header/mpimuenster_Blutgefaesse-Hydrogel_c-Liu-et-al-Nat-Comm.jpg' %}"></img>
            <p class="attribution">
                Liu, J., Long, H., Zeuschner, D. et al. Synthetic extracellular matrices with tailored adhesiveness and degradability support lumen formation during angiogenic sprouting. Nat Commun 12, 3402 (2021). <a href=https://doi.org/10.1038/s41467-021-23644-5  target="_blank"> https://doi.org/10.1038/s41467-021-23644-5</a>.
            </p>
        </div>
    </div>
    <div class="container header-text">

        <h1>RDMO for MPG</h1>

        <div class="row">
            <div class="col-md-9">
                <p>{% trans "A tool to support the planning, implementation, and organisation of research data management." %}</p>
            </div>
        </div>
    </div>
</header>

<div class="container page">
    <div class="row">
        <div class="col-md-9">
            {% render_lang_template "core/home_text" %}
        </div>

        <div class="col-md-3">
            <h3>{% trans 'Login' %}</h3>

            {% include 'account/login_form.html' %}
        </div>
    </div>
</div>

{% endblock %}
