<h2>Frequently Asked Questions about RDMO for MPG</h2>
<h3>General Questions</h3>
<h4>What are the benefits of RDMO for MPG?</h4>
RDMO for MPG allows you as a MPG researcher to write and work constantly on you data management plans. The RDMO software supports you with various questionnaires to address all you demands regarding DMPs.
<h4>Where can I contact the support of RDMO for MPG?</h4>
Please use our support mail <a href="mailto:rdmo@mpdl.mpg.de">rdmo@mpdl.mpg.de</a> to contact our support line.
<h4>With which account can I login into RDMO for MPG?</h4>
RDMO for MPG uses the Single Sign-on system from the Max Planck Society. That means all MPG accounts are ready to login into RDMO for MPG. An additional registration is not necessary. External users can also get access as collaboration partners. This requires self-registration via AcademicCloud. The required activation by our support team may take some time.
<h4>Do you provide a quick start for RDMO for MPG?</h4>
A tutorial for the basic functionalities is available in the section <a href="https://rdmo.mpdl.mpg.de/quickstart">quickstart into RDMO</a>.
<h3>How-to-Questions</h3>
<h4>How can I communicate feature requests for RDMO for MPG?</h4>
Please use our support mail <a href="mailto:rdmo@mpdl.mpg.de">rdmo@mpdl.mpg.de</a> to communicate your requests.
<h4>Which question catalogues are provided in RDMO for MPG?</h4>
We provide the following question catalogues:
<ul>
<li>Brief questionnaire</li>
<li>RDMO generic</li>
<li>VW Foundation – Science Europe</li>
<li>DFG general</li>
<li>DFG Educational Research</li>
<li>DFG Social Sciences</li>
<li>DFG Economics</li>
<li>DFG Biodiversity Research</li>
</ul>
More catalogues, i.e. for Horizon Europe, will follow soon.
<h3>More Information on RDMO and DMPs</h3>
<h4>How can I be up to date with RDMO for MPG?</h4>
You can subscribe to the mailing list <a href="https://listsrv.mpdl.mpg.de/mailman/listinfo/rdmo-info" target="_blank"> RDMO-Info</a> by the Max Planck Digital Library.
<h4>Do you provide general explanations about data management plans?</h4>
Yes, we do. Please see the corresponding section on our <a href="https://rdm.mpdl.mpg.de/before-research/data-management-plans/" target="_blank">RDM Information Platform</a>.
<h4>Do you provide current information on DMPs?</h4>
Yes, we do. Please have a look at our <a href="https://rdm.mpdl.mpg.de/category/data-management/data-management-plans/" target="_blank"> RDM Information Platform</a>.
<h3>Technical Questions</h3>
<h4>Where are the data stored?</h4>
Your data at RDMO for MPG are stored within the Max Planck Society.
<h4>Is an interface available?</h4>
Yes, RDMO offers an API. You can see the concrete documentation and usage in the <a href="https://rdmo.readthedocs.io/en/latest/administration/api.html?highlight=api" target="_blank">generic RDMO documentation</a>.