<h2>Häufig gestellte Fragen zu RDMO für MPG</h2>
<h3>Allgemeine Fragen</h3>
<h4>Was sind die Vorteile von RDMO for MPG?</h4>
Mit RDMO for MPG können Sie als MPG-Forscherin und Forscher jederzeit an Ihren Datenmanagementplänen schreiben und arbeiten. Die RDMO-Software unterstützt Sie mit verschiedenen Fragenkatalogen, um alle Ihre Anforderungen an DMPs zu erfüllen.
<h4>Wo kann ich den Support von RDMO for MPG kontaktieren?</h4>
Bitte nutzen Sie unsere Support-Mail <a href="mailto:rdmo@mpdl.mpg.de">rdmo@mpdl.mpg.de</a>, um mit unserem Support-Team Kontakt aufzunehmen.
<h4>Mit welchem Konto kann ich mich bei RDMO for MPG anmelden?</h4>
RDMO für MPG nutzt das Single Sign-on System der Max-Planck-Gesellschaft. Damit können sich alle MPG-Accounts unmittelbar in RDMO für MPG einloggen. Eine Registrierung ist nicht notwendig. Externe Nutzerinnen und Nutzer können als Kollaborationspartner ebenfalls Zugänge bekommen. Hierzu ist eine Selbstregistrierung über die <a href="https://academiccloud.de" target="_blank"></a>AcademicCloud</a> notwendig. Eine Freischaltung durch unser Support-Team ist hierbei notwendig.
<h4>Gibt es eine Anleitung zum RDMO for MPG?</h4>
Eine Anleitung mit den grundlegenden Funktionen findet sich im Bereich <a href="https://rdmo.mpdl.mpg.de/quickstart">Schnelleinstieg</a>.
<h4>Gibt es eine virtuelle Anleitung zu RDMO for MPG?</h4>
Ja, Sie können sowohl eine <a href="https://pure.mpg.de/rest/items/item_3367880_1/component/file_3367886/content" target="_blank">Video-Aufzeichnung zu einer Live-Demonstration (nur im MPI-IP-Bereich)</a> als auch <a href="https://pure.mpg.de/rest/items/item_3367880_1/component/file_3367887/content" target="_blank">Vortragsfolien (nur im MPI-IP-Bereich)</a> zu Hilfe ziehen.
<h3>How-to-Questions</h3>
<h4>Wie kann ich Funktionswünsche für RDMO for MPG mitteilen?</h4>
Bitte nutzen Sie unsere Support-Mail <a href="mailto:rdmo@mpdl.mpg.de">rdmo@mpdl.mpg.de</a>, um Ihre Wünsche mitzuteilen.
<h4>Welche Fragenkataloge werden in RDMO for MPG bereitgestellt?</h4>
Wir stellen folgende Fragenkataloge zur Verfügung:
<ul>
<li>Kurzer Fragebogen</li>
<li>RDMO allgemein</li>
<li>Horizon Europe</li>
<li>VW-Stiftung – Science Europe</li>
<li>DFG allgemein</li>
<li>DFG Biodiversitätsforschung</li>
<li>DFG Bildungsforschung</li>
<li>DFG Chemie</li>
<li>DFG Editionen</li>
<li>DFG Sozialwissenschaften</li>
<li>DFG Sozial- und Kulturanthropologie</li>
<li>DFG Wirtschaftswissenschaften</li>
</ul>
Weitere Kataloge, z.B. für Horizon Europe, werden in Kürze folgen.
<h3>Weitere Informationen über RDMO und DMP</h3>
<h4>Wie kann ich über RDMO for MPG auf dem Laufenden bleiben?</h4>
Sie können sich in die Mailingliste <a href="https://listsrv.mpdl.mpg.de/mailman/listinfo/rdmo-info" target="_blank">RDMO-Info</a> der Max Planck Digital Library eintragen.
<h4>Bieten Sie allgemeine Erklärungen zu Datenmanagementplänen an?</h4>
Ja, das tun wir. Bitte beachten Sie den entsprechenden Bereich auf unserer <a href="https://rdm.mpdl.mpg.de/before-research/data-management-plans/" target="_blank">RDM Information Platform</a>.
<h4>Stellen Sie aktuelle Informationen zu DMPs zur Verfügung?</h4>
Ja, das tun wir. Bitte werfen Sie einen Blick auf unsere <a href="https://rdm.mpdl.mpg.de/category/data-management/data-management-plans/" target="_blank">RDM Information Platform</a>.
<h3>Technische Fragen</h3>
<h4>Wo werden die Daten gespeichert?</h4>
Ihre Daten bei RDMO for MPG werden innerhalb der Max-Planck-Gesellschaft gespeichert.
<h4>Bietet RDMO for MPG eine technische Schnittstelle?</h4>
Ja, RDMO for MPG bietet eine API an. Die genaue Dokumentation dieser Schnittstelle ist in der <a href="https://rdmo.readthedocs.io/en/latest/administration/api.html?highlight=api" target="_blank">generischen RDMO-Dokmentation</a> erläutert. Darüber hinaus bietet RDMO auch einen <a href="https://github.com/rdmorganiser/rdmo-client" target="_blank">Client für die API-Schnittstelle an</a>.