{% load i18n %}

<h2>Häufig gestellte Fragen zu RDMO für MPG</h2>
<h3>Allgemeine Fragen</h3>
<h4>Was sind die Vorteile von RDMO for MPG?</h4>
Mit RDMO for MPG können Sie als MPG-Forscher ständig an Ihren Datenmanagementplänen schreiben und arbeiten. Die RDMO-Software unterstützt Sie mit verschiedenen Fragenkatalogen, um alle Ihre Anforderungen an DMPs zu erfüllen.
<h4>Wo kann ich den Support von RDMO for MPG kontaktieren?</h4>
Bitte nutzen Sie unsere Support-Mail <a href="mailto:rdmo@mpdl.mpg.de">rdmo@mpdl.mpg.de</a>, um mit unserem Support Kontakt aufzunehmen.
<h4>Mit welchem Konto kann ich mich bei RDMO for MPG anmelden?</h4>
RDMO für MPG nutzt das Single Sign-on System der Max-Planck-Gesellschaft. Damit können sich alle MPG-Accounts sofort in RDMO für MPG einloggen. Eine Registrierung oder sonstiges ist nicht notwendig.
<h4>Gibt es eine Anleitung zum RDMO for MPG?</h4>
Eine Anleitung mit den grundlegenden Funktionen findet sich im Bereich <a href="https://rdmo.mpdl.mpg.de/quickstart-RDMO_de">Schnelleinstieg</a>.
<h3>How-to-Questions</h3>
<h4>Wie kann ich Funktionswünsche für RDMP für MPG mitteilen?</h4>
Bitte nutzen Sie unsere Support-Mail <a href="mailto:rdmo@mpdl.mpg.de">rdmo@mpdl.mpg.de</a>, um Ihre Wünsche mitzuteilen.
<h4>Welche Fragenkataloge werden in RDMO für MPG bereitgestellt?</h4>
Wir stellen die folgenden Fragenkataloge zur Verfügung:
<ul>
<li>RDMO allgemein</li>
<li>DFG allgemein</li>
<li>DFG Bildungsforschung</li>
<li>DFG Sozialwissenschaften</li>
<li>DFG Wirtschaftswissenschaften</li>
<li>DFG Biodiversitätsforschung</li>
</ul>
Weitere Kataloge, z.B. für Horizon Europe, werden in Kürze folgen.
<h3>Weitere Informationen über RDMO und DMP</h3>
<h4>Wie kann ich über RDMO für MPG auf dem Laufenden bleiben?</h4>
Sie können sich in die Mailingliste <a href="https://listsrv.mpdl.mpg.de/mailman/listinfo/rdmo-info" target="_blank">RDMO-Info</a> der Max Planck Digital Library eintragen.
<h4>Bieten Sie allgemeine Erklärungen zu Datenmanagementplänen an?</h4>
Ja, das tun wir. Bitte beachten Sie den entsprechenden Bereich auf unserer <a href="https://rdm.mpdl.mpg.de/before-research/data-management-plans/" target="_blank">RDM Information Platform</a>.
<h4>Stellen Sie aktuelle Informationen zu DMPs zur Verfügung?</h4>
Ja, das tun wir. Bitte werfen Sie einen Blick auf unsere <a href="https://rdm.mpdl.mpg.de/category/data-management/data-management-plans/" target="_blank">RDM Information Platform</a>.
<h3>Technische Fragen</h3>
<h4>Wo werden die Daten gespeichert?</h4>
Ihre Daten bei RDMO for MPG werden innerhalb der Max-Planck-Gesellschaft gespeichert.
