<h2>Frequently Asked Questions about RDMO for MPG</h2>
<h3>General Questions</h3>
<h4>What are the benefits of RDMO for MPG?</h4>
RDMO for MPG allows you as a MPG researcher to write and work constantly on your data management plans. The RDMO software supports you with various questionnaires to address all your demands regarding DMPs.
<h4>Where can I contact the support of RDMO for MPG?</h4>
Please use our support mail <a href="mailto:rdmo@mpdl.mpg.de">rdmo@mpdl.mpg.de</a> to contact our support line.
<h4>With which account can I login into RDMO for MPG?</h4>
RDMO for MPG uses the Single Sign-on system from the Max Planck Society. That means all MPG accounts are ready to log in into RDMO for MPG. An additional registration is not necessary. External users can also get access as collaboration partners. This requires self-registration via <a href="https://academiccloud.de" target="_blank"></a>AcademicCloud</a>. An activation by our support team is necessary here.
<h4>Do you provide a quick start for RDMO for MPG?</h4>
A tutorial for the basic functionalities is available in the section <a href="https://rdmo.mpdl.mpg.de/quickstart">quickstart into RDMO</a>.
<h4>Do you offer a Virtual Tutorial for RDMO for MPG?</h4>
Yes, there are also a <a href="https://pure.mpg.de/rest/items/item_3367880_1/component/file_3367881/content" target="_blank">virtual tutorial with live demonstration (only within the MPG IP Range)</a> and <a href="https://pure.mpg.de/rest/items/item_3367880_1/component/file_3367882/content" target="_blank">presentation slides (only within the MPG IP Range)</a> available.
<h3>How-to-Questions</h3>
<h4>How can I communicate feature requests for RDMO for MPG?</h4>
Please use our support mail <a href="mailto:rdmo@mpdl.mpg.de">rdmo@mpdl.mpg.de</a> to communicate your requests.
<h4>Which question catalogues are provided in RDMO for MPG?</h4>
We provide the following question catalogues:
<ul>
<li>Brief Questionnaire</li>
<li>RDMO Generic</li>
<li>Horizon Europe</li>
<li>VW Foundation – Science Europe</li>
<li>Software Management Plan for Researcher</li>
<li>DFG General</li>
<li>DFG Biodiversity Research</li>
<li>DFG Chemistry</li>
<li>DFG Edition</li>
<li>DFG Economics</li>
<li>DFG Educational Research</li>
<li>DFG Social and Cultural Anthropology</li>
<li>DFG Social Sciences</li>
<li>NFDI4Ing</li>
<li>Data Management for Climate Modelling</li>
</ul>
More catalogues will follow.
<h3>More Information on RDMO and DMPs</h3>
<h4>How can I be up-to-date with RDMO for MPG?</h4>
You can subscribe to the mailing list <a href="https://listsrv.mpdl.mpg.de/mailman/listinfo/rdmo-info" target="_blank"> RDMO-Info</a> by the Max Planck Digital Library.
<h4>Do you provide general explanations about data management plans?</h4>
Yes, we do. Please see the corresponding section on our <a href="https://rdm.mpdl.mpg.de/before-research/data-management-plans/" target="_blank">RDM Information Platform</a>.
<h4>Do you provide current information on DMPs?</h4>
Yes, we do. Please have a look at our <a href="https://rdm.mpdl.mpg.de/category/data-management/data-management-plans/" target="_blank"> RDM Information Platform</a>.
<h3>Technical Questions</h3>
<h4>Where are the data stored?</h4>
Your data at RDMO for MPG are stored within the Max Planck Society.
<h4>Is an interface available?</h4>
Yes, RDMO for MPG offers an API. You can see the concrete documentation and usage in the <a href="https://rdmo.readthedocs.io/en/latest/administration/api.html?highlight=api" target="_blank">generic RDMO documentation</a>. In addition, RDMO also offers a <a href="https://github.com/rdmorganiser/rdmo-client" target="_blank">client for the API interface</a>.