{% extends 'core/base.html' %}

{% block content %}

<div class="container page">

<h2><b>Anbieterkennzeichnung</b></h2>

<p>
Die nachstehenden Informationen enthalten die gesetzlich vorgesehenen Pflichtangaben zur Anbieterkennzeichnung, zu den datenschutzrechtlichen Informationspflichten sowie weitere wichtige rechtliche Hinweise zur Internetpräsenz Edmond (http://rdmo.mpdl.mpg.de).
</p>

<h3><b>Anbieter</b></h3>
<p>
Anbieter dieser Internetpräsenz ist im Rechtssinne die Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V.
</p>

<p>
<b>Adresse</b> <br>
Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V. <br>
Hofgartenstraße 8 <br>
D-80539 München <br>
Telefon: +49 (89) 2108 - 0 <br>
Internet:   <a href="http://www.mpg.de" target="_blank">www.mpg.de</a>
</p>

<p>
<b>Vereinsregister</b> <br>
Die Max-Planck-Gesellschaft ist im Vereinsregister des Amtsgerichts Berlin-Charlottenburg unter der Registernummer VR 13378 B eingetragen.
</p>

<p>
<b>Vertreter</b> <br>
Die Max-Planck-Gesellschaft wird gesetzlich vertreten durch den Vereinsvorstand, und dieser wiederum durch den Präsidenten, Prof. Dr. Martin Stratmann, und den Generalsekretär, Rüdiger Willems.
</p>

<p>
<b>Umsatzsteueridentifikationsnummer</b> <br>
Die Umsatzsteueridentifikationsnummer der Max-Planck-Gesellschaft lautet: DE 129517720
</p>

<p>
<b>Redaktionsverantwortlicher</b> <br>
Dr. Yves Vincent Grossmann<br>
Amalienstraße 33 <br>
80799 München <br>
<a href="mailto:rdmo@mpdl.mpg.de">rdmo@mpdl.mpg.de</a>
</p>

<p>
<b>Rechtliche Hinweise zur Organisationsform</b> <br>
Die Max-Planck-Gesellschaft ist eine gemeinnützige Forschungseinrichtung, die in der Rechtsform eines eingetragenen Vereins organisiert ist. Die Institute und Einrichtungen der Max-Planck-Gesellschaft sind organisatorisch weitgehend selbständig und haben in der Regel keine eigene Rechtspersönlichkeit.
</p>

<p>
<b>Fremdsprachige Seiten</b> <br>
Soweit Teile des Internetauftritts auch in anderen Sprachen als deutsch angeboten werden, ist dies ausschließlich ein Service für Mitarbeiter und Gäste der Max-Planck-Gesellschaft, die der deutschen Sprache nicht mächtig sind.
</p>

</div>

{% endblock %}