{% extends 'core/page.html' %}
{% load static %}
{% load compress %}
{% load i18n %}

{% block head %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/idpselect.scss' %}" />
{% endcompress %}
{% compress js %}
<script type="text/javascript" src="{% static 'core/js/idpselect_config.js' %}" ></script>
<script type="text/javascript" src="{% static 'core/js/idpselect.js' %}" ></script>
{% endcompress %}
{% endblock %}

{% block content %}
<div class="container page">
    <h2><b>Log In</b></h2>
    <div id="idpSelect"></div>
</div>
{% endblock %}
