{% extends 'core/page.html' %}
{% load static %}
{% load compress %}
{% load i18n %}

{% block head %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'core/css/idpselect.scss' %}" />
{% endcompress %}
{% endblock %}

{% block page %}
<div class="container page">

    {% get_current_language as lang %}
    {% if lang == 'en' %}
        {% include 'rdmo_theme/login_form_sso_en.html' %}
    {% elif lang == 'de' %}
        {% include 'rdmo_theme/login_form_sso_de.html' %}
    {% endif %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'core/js/idpselect_config.js' %}" ></script>
        <script type="text/javascript" src="{% static 'core/js/idpselect.js' %}" ></script>
    {% endcompress %}
</div>
{% endblock %}
