{% extends 'core/base.html' %}

{% block content %}

<div class="container page">
<p></p>

<h2>Datenerhebung und Datenverarbeitung</h2>

<p>
Die Max Planck Digital Library (MPDL) legt gro&szlig;en Wert auf den Schutz und die Sicherheit personenbezogener Daten. Dabei richten wir uns nach den entsprechenden Vorgaben des Bundesdatenschutzgesetzes (BDSG) sowie der EU-Datenschutz-Grundverordnung (DSGVO). 
</p>

<p>
Auf dieser Seite erhalten Sie genaue Informationen dazu, welche Arten von Daten zu welchen Zwecken erfasst und verarbeitet werden.
</p>

<h3>Benutzerkonten</h3>

<p>
Für die Arbeit mit RDMO for MPG ist die Erstellung eines Benutzerkontos über einen SSO-Login zwingend erforderlich. Eine Nutzung der Funktionalit&aumlten ohne die Erstellung eines Kontos und die damit verbundene Speicherung personenbezogener Daten ist nicht m&oumlglich. 
</p>

<p>
MitarbeiterInnen der Max-Planck-Gesellschaft (MPG) k&oumlnnen die Erstellung eines solchen Kontos selbst&aumlndig vornehmen.
</p>

<p>
Die Einrichtung des Kontos kann die Speicherung und Verarbeitung personenbezogener Daten, n&auml;mlich Name, Vorname (optional), Institutszugeh&ouml;rigkeit und E-Mailadresse beinhalten. Die Daten werden ausschlie&szlig;lich zum Zwecke der Nutzung der Dienste von RDMO for MPG verwendet.
</p>

<p>
Die Speicherung und Verarbeitung der Daten erfolgt auf Grundlage von berechtigtem Interesse gem&auml;&szlig; Art. 6 Abs. 1 f) DSGVO. Unser berechtigtes Interesse ergibt sich aus dem oben genannten Zweck zur Datenerhebung.
</p>

<p>
Ein Benutzerkonto und die damit verbundenen personenbezogenen Daten sowie alle pers&oumlnlichen Inhalte eines Nutzers in RMDO for MPG werden - begr&uumlndet auf den <a class="external free" href="http://www.dfg.de/download/pdf/dfg_im_profil/reden_stellungnahmen/download/empfehlung_wiss_praxis_1310.pdf" target="_blank" title="Matomo Opt-Out">Empfehlungen der Deutschen Forschungsgemeinschaft (DFG) zur Sicherung der guten wissenschaftlichen Praxis</a> - fr&uumlhestens 10 Jahre nach der letzten Nutzeraktivit&aumlt auf Aufforderung des Nutzers gel&oumlscht.
</p>

<h2>Auskunft, Berichtigung, L&ouml;schung und Sperrung, Widerspruchsrecht</h2>
<p>
Sie sind gem&auml;&szlig; § 34 BDSG (Art. 15 DSGVO) jederzeit berechtigt, gegen&uuml;ber der MPDL um umfangreiche Auskunftserteilung zu den zu Ihrer Person gespeicherten Daten zu ersuchen.
</p>

<p>
Ebenso k&ouml;nnen Sie Gem&auml;&szlig; § 35 BDSG jederzeit gegen&uuml;ber der MPDL die Berichtigung (Art. 16 DSGVO), L&ouml;schung (Art. 17 DSGVO) und Sperrung (Art. 18 DSGVO) einzelner personenbezogener Daten verlangen.
</p>

<p>
Sie haben dar&uuml;ber hinaus das Recht, gem&auml;&szlig; Art. 21 DSGVO Widerspruch gegen die Verarbeitung Ihrer personenbezogenen Daten einzulegen, soweit daf&uuml;r Gr&uuml;nde vorliegen, die sich aus Ihrer besonderen Situation ergeben.
</p>

<p>
Sie k&ouml;nnen den Widerspruch entweder postalisch, per E-Mail oder per Fax an die MPDL &uuml;bermitteln.
</p>

<p>
Sie haben das Recht, sich bei der zust&auml;ndigen Aufsichtsbeh&ouml;rde zu beschweren (Art. 77 DSGVO). Dies ist f&uuml;r die MPG das Bayerische Landesamt f&uuml;r Datenschutzaufsicht, Postfach 606, 91511 Ansbach.
</p>

<h3>Protokolldateien (Logs)</h3>
<p>
Aus technischen Gr&uuml;nden speichern unsere Server bei Ihrem Zugriff auf RDMO for MPG personenbezogene Verbindungsdetails in ihren Protokolldateien, den sogenannten Logfiles.
</p>

<p>
Folgende Daten werden vor&uuml;bergehend gespeichert:
</p>

<ul style="padding:0.5em 2.2em; list-style-type: square;">
    <li>Ihre IP-Adresse</li>
    <li>Datum und Uhrzeit Ihres Zugriffs auf die Seite</li>
    <li>Adresse der aufgerufenen Seite</li>
    <li>Adresse der zuvor besuchten Webseite (Referrer)</li>
    <li>Name und Version Ihres Browsers/Betriebssystems (sofern &uuml;bertragen)</li>
</ul>

<p>
Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Daten in Logfiles ist f&uuml;r den Betrieb der Webseite zwingend erforderlich. Diese Daten werden lediglich zur unmittelbaren Bereitstellung unserer Dienste, zur St&ouml;rungsbeseitigung oder zur Abwehr eines Angriffs genutzt und nach kurzer Zeit automatisch gel&ouml;scht.
</p>

<p>
Rechtsgrundlage f&uuml;r die vor&uuml;bergehende Speicherung der Daten und der Logfiles ist Art. 6 Abs. 1 f) DSGVO. Die Speicherung in Logfiles erfolgt, um die Funktionsf&auml;higkeit der Website sicherzustellen. Zudem dienen uns die Daten zur Optimierung der Webseiten, zur St&ouml;rungsbeseitigung und zur Sicherstellung der Sicherheit unserer informationstechnischen Systeme. In diesen Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung.
</p>

<h3>Cookies</h3>
<p>
Um Ihnen die Nutzung unserer Webseite zu erleichtern, verwenden wir sog. &quot;Session-Cookies&quot;. Dabei handelt es sich um kleine Textdateien, die nur f&uuml;r die Dauer Ihres Besuchs unserer Webseite auf Ihrer Festplatte hinterlegt und abh&auml;ngig von der Einstellung Ihres Browser-Programms beim Beenden des Browsers wieder gel&ouml;scht werden. Diese Cookies rufen keine auf Ihrer Festplatte &uuml;ber Sie gespeicherten Informationen ab und beeintr&auml;chtigen nicht Ihren PC oder ihre Dateien.
</p>

<p>
Die meisten Browser sind so eingestellt, dass sie Cookies automatisch akzeptieren. Sie k&ouml;nnen das Speichern von Cookies jedoch deaktivieren oder ihren Browser so einstellen, dass er Sie auf die Sendung von Cookies hinweist.
</p>

<p>
Bitte beachten Sie, dass einzelne Funktionen unserer Website beeintr&auml;chtigt werden k&ouml;nnten, wenn Sie die Verwendung von Cookies deaktiviert haben.
</p>

<h3>Matomo</h3>

<p>
Wir m&ouml;chten unsere Webseiten f&uuml;r Sie so ansprechend und komfortabel wie m&ouml;glich gestalten. Sehr hilfreich ist daf&uuml;r die Auswertung von statistischen Daten &uuml;ber die Nutzung unserer Webseiten und die Erfassung verschiedener technischer Details &uuml;ber Webbrowser und Computer unserer Besucher.
</p>

<p>
Wir setzen aus diesem Grund das Webanalytik-Programm Matomo (ehemals Piwik) ein, das mit Cookies und JavaScript verschiedene Informationen auf Ihrem Computer sammelt und automatisiert an uns &uuml;bertr&auml;gt (anonymisierte Nutzungsdaten).
</p>

<p>
Folgende Daten werden – sofern Sie nicht widersprochen haben – durch den zentralen Matomo-Server protokolliert und in die Nutzungsstatistiken einbezogen.
</p>

<p>
Basisdaten:
</p>

<ul style="padding:0.5em 2.2em; list-style-type: square;">
    <li>IP-Adresse, durch Verk&uuml;rzen anonymisiert</li>
    <li>Cookie, zur Unterscheidung verschiedener Besucher</li>
    <li>Zuvor besuchte URL (Referrer), sofern vom Browser &uuml;bermittelt</li>
    <li>Name und Version des Betriebssystems</li>
    <li>Name, Version und Spracheinstellung des Browsers</li>
</ul>

<p>
Zus&auml;tzlich, sofern JavaScript aktiviert ist:
</p>

<ul style="padding:0.5em 2.2em; list-style-type: square;">
    <li>Besuchte URLs auf dieser Webseite</li>
    <li>Zeitpunkte der Seitenaufrufe</li>
    <li>Art der HTML-Anfragen</li>
    <li>Bildschirmaufl&ouml;sung und Farbtiefe</li>
    <li>Vom Browser unterst&uuml;tzte Techniken und Formate (z. B. Cookies, Java, Flash, PDF, WindowsMedia, QuickTime, Realplayer, Director, SilverLight, Google Gears)</li>
</ul>

<p>
Die Speicherung und Auswertung der Daten erfolgt ausschlie&szlig;lich auf einem zentralen Server, der von der MPDL betrieben wird.
</p>

<p>
Rechtsgrundlage f&uuml;r die Verarbeitung der personenbezogenen Daten der Nutzer ist Art. 6 Abs. 1 f) DSGVO. Die Verarbeitung der personenbezogenen Daten der Nutzer erm&ouml;glicht uns eine Analyse des Nutzungsverhaltens unserer Nutzer. Wir sind durch die Auswertung der gewonnenen Daten in der Lage, Informationen &uuml;ber die Nutzung der einzelnen Komponenten unserer Webseiten zusammenzustellen. Dies hilft uns dabei, unsere Webseiten und deren Nutzerfreundlichkeit stetig zu verbessern. In diesen Zwecken liegt auch unser berechtigtes Interesse in der Verarbeitung der Daten. Durch die Anonymisierung der IP-Adresse wird dem Interesse der Nutzer an deren Schutz personenbezogener Daten hinreichend Rechnung getragen.</p>

<p>
    <u>M&ouml;glichkeit des Widerspruchs</u>: Es besteht die M&ouml;glichkeit, einer Datenerfassung durch Matomo zu widersprechen. Sie haben folgende unabh&auml;ngige M&ouml;glichkeiten einer Datenerfassung durch den zentralen Matomo-Server zu widersprechen:
</p>

<ol style="padding:0.5em 2em; list-style-type: decimal;">
    <li>Aktivieren Sie in Ihrem Browser die Einstellung Do-Not-Track bzw. Nicht folgen. Solange diese Einstellung aktiv ist, wird unser zentraler Matomo-Server keinerlei Daten von Ihnen speichern. Wichtig: Die Do-Not-Track-Anweisung gilt in der Regel nur f&uuml;r das eine Ger&auml;t und den einen Browser, in dem Sie die Einstellung aktivieren. Sollten Sie mehrere Ger&auml;te/Browser nutzen, dann m&uuml;ssen Sie Do-Not-Track&uuml;berall separat aktivieren.</li>
    <li>Nutzen Sie unsere <a class="external free" href="http://colab.mpdl.mpg.de/mediawiki/Matomo_Opt-Out" target="_blank" title="Matomo Opt-Out">Opt-Out-Funktion</a>.</li>
</ol>

<p>
Die Speicherung und Auswertung erfolgt grunds&auml;tzlich anonymisiert. Session-Cookies werden sp&auml;testens mit dem Schlie&szlig;en Ihres Browsers gel&ouml;scht. Personenbezogene Nutzerprofile werden nicht erstellt.</p>

<h2>Datenübermittlung</h2>

<p>
Ihre personenbezogenen Daten werden nur in den gesetzlich erforderlichen F&auml;llen bzw. zur Strafverfolgung aufgrund von Angriffen auf unsere Netzinfrastruktur an staatliche Einrichtungen und Beh&ouml;rden &uuml;bermittelt.
Eine Weitergabe zu anderen Zwecken an Dritte findet nicht statt.
</p>


<h2>Änderungen der Datenschutzbestimmungen</h2>

<p>
Diese Datenschutzerkl&auml;rung kann ggf. im Laufe der Zeit angepasst werden, weil sich die rechtlichen Rahmenbedingungen ge&auml;ndert haben oder weil neue Funktionalit&auml;ten oder Services dies erfordern.
Mit der Nutzung der Webseite erkl&auml;ren Sie sich mit den ge&auml;nderten Bedingungen dieser Richtlinien zum Schutz pers&ouml;nlicher Daten einverstanden.
</p>

<h2>Fragen an die Datenschutzbeauftragte</h2>

<p>
F&uuml;r Fragen zum Thema Datenschutz steht Ihnen die Datenschutzbeauftragte der Max-Planck-Gesellschaft per E-Mail an datenschutz[at]mpg.de oder telefonisch unter +49 89 2108-1554 zur Verf&uuml;gung.
</p>
</div>

{% endblock %}