{% load i18n %}

<h2>Quick Start to RDMO for MPG</h2>
This guide is aimed at all Max Planck scientists who want to create a (research) data management plan. It is irrelevant whether you want to do this as part of an application or for other reasons. 
other reasons.
<h3>What is RDMO for MPG?</h3>
RDMO for MPG is a free service of the <a href="https://www.mpdl.mpg.de/" target="_blank">Max Planck Digital Library</a> for all Max Planck staff. The Research Data Management Organiser software, RDMO for short, is used for this purpose. The web-based software is open source (<a href="https://rdmorganiser.github.io" target="_blank">https://rdmorganiser.github.io</a>).
<h3>Logging in</h3>
The RDMO for MPG service is accessible to all Max Planck staff via the central single sign-on service. The login can be found on the homepage on the right-hand side.
<h3>Overview: The start page</h3>
After successfully logging in, you will land on your start page, which gives you an overview of all options.
<ul style="list-style-type:decimal">
<li>If you have the necessary rights, then you can change question catalogues and their underlying domain through the management menu, but this is not necessary to create a data management plan.</li>
<li>Under "My Projects" you will find all data management plans that you have created yourself and to which you have been added. It also shows when the project 
was created. At the beginning, this overview will be empty. You can edit or delete the plans here with the help of the symbols on the right in the respective line. However, the deletion 
However, the deletion process cannot be undone!
<li>Under "My data" your full name is displayed. Furthermore, your groups are displayed there and under "Options" you can create a new project.</li>
<li>On the top right you can select the language (German and English). In addition, your name is displayed and clicking on the small arrow opens a menu with various sub-items.</li>
</ul>
<h3>Create a new plan</h3>
If you are on the start page after logging in, then on the right under "Options" you will find the option: "Create new project". This will create a new data management plan. 
<br>You then need to enter the following information in the mask:
<ul>
<li>Title: Give the new plan a descriptive name.</li>
<li>Description: If necessary, provide a description for your plan to explain its purpose.</li>
<li>Catalogue: Select the appropriate question catalogue for you from those available. You can also change the assigned catalogue later.</li>
</ul>
<h3>Answer questions</h3>
After you have created a new project (or plan), you will see an overview of this plan:
<ul>
<li>Title</li> 
<li>Description</li>
<li>Views: Overview of all existing views that map your answered questions to templates from funders, etc.</li>
<li>Snapshots: The overview of your created snapshots (= intermediate copies of your given answers), so that you can revert to an older version if necessary.</li>
<li>Members: Here you can see who all is allowed to access the plan with "role", i.e. restricted rights if applicable.</li>
</ul>
On the right side you will find an options overview ("Options"). There you can change project information such as title and description. You can also delete the project irrevocably.
Below the options are the export options. 
Click on "Answer questions" under "Options". You will then be automatically directed to the first questions of the question catalogue.
Many questions can be answered as free text. The text field can be enlarged for detailed answers by clicking on the dot triangle in the bottom right corner and dragging the field larger accordingly. 
In the picture above, for example, the question asks for keywords. By clicking on the green "Add keyword" button, a further answer can then be entered in each case.
<h3>View and export answers</h3>
You have the option of clicking on "Show answers" or "Back to project" in the menu on the right at any time. When you click on "View answers", you have the option to export your answers with the associated questions in common formats: PDF, Rich Text Format, Open Office, Microsoft Office, HTML, Markdown, mediawiki and LaTeX. 

<pr>
<h3>Create snapshot</h3>
If you want to go back to an earlier time of filling in after making numerous changes, you need to have created a so-called snapshot for this purpose. Your answers will be saved each time you click on "save" or on "save and continue", but you will not be able to go back to previous versions. However, this is made possible by creating snapshots. To do this, click on "Create snapshot" in the menu bar of your project overview on the right and give the snapshot a title and optionally a description. The snapshot is then listed with the title in the project overview.
</pr>

<pr>
<h3>Add member</h3>
If you want others to be able to see or edit your data management plan, you can add them as a so-called member. To do this, click on "Add member" in the menu of your project overview on the right and enter the user name or the e-mail address of the corresponding person. You must also specify which role this person is to be given.
<h4>Role concept</h4>
<ul>
<li>Owner: When you create a new project, you are automatically the owner of that project. However, you can also appoint other members as owners. Owners have all rights including deleting a project.</li>
<li>Managers: cannot delete projects, but have all other rights such as creating snapshots or making changes.</li>
<li>Author: has read and write permissions.</li>
<li>Guest: has read-only rights.</li>
</ul>
The members of your projects are shown at the very bottom of the project overview and can also be removed. Members should not work on the plan at the same time so that no entries are overwritten.<br>
</pr>
<br>
<br>
<pr>
<i>Note: This quick start is based on RDMO, RDMO Schnellstartanleitung für Nutzer*innen, Version 4, 14.04.2020, <a href="https://rdmorganiser.github.io/docs/Schnellstartanleitung_v2020.pdf" target="_blank">https://rdmorganiser.github.io/docs/Schnellstartanleitung_v2020.pdf</a>, <a href="https://creativecommons.org/share-your-work/public-domain/cc0/" target="_blank">CC0</a>.</i>
</pr>