{% load i18n %}

<h2>Schnelleinstieg zu RDMO for MPG</h2>
Die Anleitung richtet sich an alle Max-Planck-Wissenschaftlerinnen und -Wissenschaftler, die einen (Forschungs-)Datenmanagementplan erstellen wollen. Dabei ist es unerheblich, ob Sie dies im Rahmen einer Antragsstellung oder aus anderen Gründen tun möchten.
<h3>Was ist RDMO for MPG?</h3>
RDMO for MPG ist ein kostenfreier Service der <a href="https://www.mpdl.mpg.de/" target="_blank">Max Planck Digital Library</a> für alle Max-Planck-Mitarbeiterinnen und -Mitarbeiter. Hierfür wird die Software Research Data Management Organiser, kurz RDMO, verwendet. Bei der webbasierten Software handelt es sich um eine Open-Source-Software (<a href="https://rdmorganiser.github.io" target="_blank">https://rdmorganiser.github.io</a>).
<h3>Einloggen</h3>
Der Service RDMO for MPG ist für alle Max-Planck-Mitarbeiterinnen und -Mitarbeiter über den zentralen Single Sign-On-Service erreichbar. Der Login ist auf der Startseite auf der rechten Seite zu finden.
<h3>Überblick: Die Startseite</h3>
Nach dem erfolgreichen Log-in landen Sie auf Ihrer Startseite, die Ihnen einen Überblick über alle Optionen verschafft.
<ul style="list-style-type:decimal">
<li>Wenn Sie über die notwendigen Rechte verfügen, dann können Sie durch das Management-Menü die Fragenkataloge und deren zugrundeliegende Domain ändern, aber das ist nicht notwendig, um einen Datenmanagementplan zu erstellen.</li>
<li>Unter „Meine Projekte“ finden Sie alle Datenmanagementpläne, die Sie selbst angelegt haben und denen Sie hinzugefügt worden sind. Außerdem wird angezeigt, wann das Projekt erstellt wurde. Zu Beginn wird diese Übersicht leer sein. Sie können hier mit der Hilfe der Symbole rechts in der jeweiligen Zeile die Pläne bearbeiten oder löschen. Allerdings kann der Löschvorgang nicht rückgängig gemacht werden!</li>
<li>Unter „Meine Daten“ wird Ihr vollständiger Name angezeigt. Ferner sind dort Ihre Gruppen angezeigt und unter „Optionen“ können Sie ein neues Projekt anlegen.</li>
<li>Oben rechts können Sie die Sprache auswählen (Deutsch und Englisch). Zudem wird Ihr Name angezeigt und durch das Klicken auf den kleinen Pfeil öffnet sich ein Menü mit verschiedenen Unterpunkten.</li>
</ul>
<h3>Einen neuen Plan erstellen</h3>
Wenn Sie nach Ihrem Log-In auf der Startseite sind, dann finden Sie rechts unter „Optionen“ die Möglichkeit: „Neues Projekt erstellen“. Dadurch erstellen Sie einen neuen Datenmanagementplan.
<br>Folgende Eingabefelder werden angezeigt:
<ul>
<li>Titel: Geben Sie dem neuen Plan einen bezeichnenden Namen.</li>
<li>Beschreibung: Geben Sie gegebenenfalls eine Beschreibung für Ihren Plan an, um dessen Zweck zu erklären.</li>
<li>Katalog: Wählen Sie aus den vorliegenden Fragenkatalogen den für Sie passenden aus. Sie können den zugeordneten Katalog später auch ändern.</li>
</ul>
<h3>Fragen beantworten</h3>
Nachdem Sie ein neues Projekt (bzw. Plan) erstellt haben, sehen Sie eine Übersicht zu diesem Plan:
<ul>
<li>Titel</li> 
<li>Beschreibung</li>
<li>Ansichten: Übersicht aller vorhandenen Ansichten, welche Ihre beantworteten Fragen auf Vorlagen von Förderern etc. abbilden.</li>
<li>Snapshots: Die Übersicht Ihrer erstellten Snapshots (= Zwischenkopien Ihrer gegebenen Antworten), so dass Sie gegebenenfalls zu einer älteren Version zurückkehren können.</li>
<li>Mitglieder: Hier sehen Sie, wer alles auf den Plan zugreifen darf mit „Rolle“, d. h. ggf. eingeschränkten Rechten.</li>
</ul>
Auf der rechten Seite finden Sie eine Optionsübersicht („Optionen“). Dort können Sie Projektinformationen wie Titel und Beschreibung ändern. Außerdem können Sie das Projekt unwiderruflich löschen. Klicken Sie auf „Fragen beantworten“ und Sie werden automatisch zu den ersten Fragen des Fragenkatalogs geleitet. Viele Fragen können als Freitext beantwortet werden. Das Textfeld kann bei ausführlichen Antworten vergrößert werden, indem unten rechts in der Ecke auf das Punkte-Dreieck geklickt und das Feld entsprechend größer gezogen wird. Durch das Anklicken der grünen Schaltfläche „Schlagwort hinzufügen“ kann dann jeweils eine weitere Antwort eingegeben werden.
Unter den Optionen befinden sich die Exportmöglichkeiten.
<h3>Antworten anzeigen und exportieren</h3>
Sie haben rechts im Menü jederzeit die Möglichkeit auf „Antworten anzeigen“ oder „Zurück zum Projekt“ zu klicken. Wenn Sie auf „Antworten anzeigen“ klicken, haben Sie die Möglichkeit Ihre Antworten mit den dazugehörigen Fragen in gängigen Formaten zu exportieren: PDF, Rich Text Format, Open Office, Microsoft Office, HTML, Markdown, MediaWiki und LaTeX.
<pr>
<h3>Snapshot erstellen</h3>
Wenn Sie nach zahlreichen Änderungen zu einem früheren Zeitpunkt des Ausfüllens gelangen wollen, können Sie nur auf einen zuvor von Ihnen selbst erstellten Snapshot zurückgreifen. Ihre Antworten werden zwar jedes Mal gespeichert, wenn Sie auf „speichern“ oder auf „speichern und fortfahren“ klicken, aber Sie können nicht zu vorherigen Versionen zurückkehren. Dies wird ausschließlich durch das Anlegen von Snapshots ermöglicht. Klicken Sie dazu rechts in der Menüleiste Ihrer Projektübersicht auf „Snapshot erstellen“ und geben Sie dem Snapshot einen Titel und optional eine Beschreibung. Anschließend wird der Snapshot mit dem Titel in der Projektübersicht aufgelistet.
</pr>
<pr>
<h3>Mitglied hinzufügen</h3>
Wenn Sie wollen, dass auch andere Ihren Datenmanagementplan sehen oder bearbeiten können, dann können Sie diese Personen als sogenanntes Mitglied hinzufügen. Klicken Sie dazu rechts im Menü Ihrer Projektübersicht auf „Mitglied hinzufügen“ und geben Sie den Benutzernamen oder die E-Mail-Adresse der entsprechenden Person an. Außerdem legen Sie fest, welche Rolle diese Person erhalten soll.
<h4>Rollenkonzept</h4>
<ul>
<li>Besitzer: Wenn Sie ein neues Projekt erstellen, sind Sie automatisch der Besitzer dieses Projektes. Sie können aber auch andere Mitglieder zu Besitzern ernennen. Besitzer haben alle Rechte einschließlich das Löschen eines Projektes.</li>
<li>Manager: können Projekte nicht löschen, aber besitzen alle anderen Rechte, wie z.B. Snapshots erstellen oder Veränderungen vorzunehmen.</li>
<li>Autor: hat Schreib- und Leserechte.</li>
<li>Gast: hat nur Leserechte.</li>
</ul>
Die einzelnen Mitglieder Ihrer Projekte werden ganz unten in der Projektübersicht angezeigt und können auch wieder entfernt werden. Mitglieder sollten nicht gleichzeitig an dem Plan arbeiten, damit keine Eintragungen überschrieben werden.<br>
</pr>
<br>
<br>
<pr>
<i>Hinweis: Dieser Schnelleinstieg basiert auf RDMO, RDMO Schnellstartanleitung für Nutzer*innen, Version 4, 14.04.2020, <a href="https://rdmorganiser.github.io/docs/Schnellstartanleitung_v2020.pdf" target="_blank">https://rdmorganiser.github.io/docs/Schnellstartanleitung_v2020.pdf</a>, <a href="https://creativecommons.org/share-your-work/public-domain/cc0/" target="_blank">CC0</a>.</i>
</pr>