{% load i18n %}
RDMO for MPG ist ein Service zur Erstellung von Datenmanagementplänen. Er wird von der Max Planck Digital Library (MPDL) für die Max-Planck-Gesellschaft angeboten. Daher gelten für RDMO for MPG die <a href="https://www.mpdl.mpg.de/en/services/tos.html" target="_blank">Dienstleistungsbedingungen der Max Planck Digital Library</a>. <br/>
</p>	

<h2>Registierung</h2>
	<p>
        Der RDMO for MPG-Service ist für alle Mitarbeiter der Max-Planck-Gesellschaft und ihrer wissenschaftlichen Projektpartner kostenlos.
</p>


<h2>Fragen</h2>
	<p>
        Fragen zu den Nutzungsbedingungen sind zu richten an: <a href="mailto:rdmo@mpdl.mpg.de" target="_blank">rdmo@mpdl.mpg.de</a>.
	</p>