RDMO for MPG is a service for writting data management plans. It is provided by Max Planck Digital Library (MPDL) on behalf of Max Planck Society. Therefore the <a href="https://www.mpdl.mpg.de/en/services/tos.html" target="_blank">Terms of Service of the Max Planck Digital Library</a> are valid for RDMO for MPG. <br/>
</p>	

<h2>Registration</h2>
	<p>
	The RDMO for MPG Service is free of charge for all employees of the Max Planck Society and its scientific project partners.
</p>


<h2>Questions</h2>
	<p>
	Questions about the Terms of Use should be sent to: <a href="mailto:rdmo@mpdl.mpg.de" target="_blank">rdmo@mpdl.mpg.de</a>.
	</p>